<p i18n="header | works @@headerworks">header works!</p>
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">
    <img src="/assets/img/ShopLogo.png" width="30" height="30" alt="">Comprando En Casa
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto ">

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" i18n="acciones | menu de acciones @@headerMenu">
         Acciones
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item"  routerLink="/producto-create" [hidden]="!data.userEsComercio" i18n="crear | crear producto @@headerCrear">Crear Producto</a>
        </div>
      </li>
    </ul>



    <form class="form-inline  col-lg-3 ">
      <div class="input-group active-green-4">
        <input class="form-control" type="text" [(ngModel)]="consulta" [ngModelOptions]="{standalone: true}" placeholder="Buscar Producto" aria-label="Search">
        <div class="input-group-append">

            <button class="btn btn-outline-success my-2 my-sm-0" (click)="callProductosByConsulting()" type="submit"><i class="fa fa-search"></i>
            </button>



        </div>

      </div>
      <!--<input class="form-control mr-sm-2" type="search" placeholder="Buscar Producto" aria-label="Search">-->
    </form>

    <ul class="navbar-nav ml-auto ">


      <li class="nav-item">
        <div class="btn-group" role="group" aria-label="Basic example">

          <div class="dropdown">
            <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user"></i> <span class="badge badge-pill"  >{{data.nombreUsuario}}</span><!-- Aca podria tener uan variable en JS para obtener la cantidad de porductos en el carrito-->
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" routerLink="perfil-usuario" i18n="ver | ver perfil @@headerPerfil">Ver Perfil</a>
              <a class="dropdown-item" href="#" i18n="ver | ver historial  @@headerHistorial">Ver Historial de compras</a>

              <a class="dropdown-item" routerLink="productos-cargados"[hidden]="!data.userEsComercio">Ver Productos Cargados</a>
            </div>
          </div>

            <button type="button" class="btn btn-outline-success" routerLink="carrito">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i> Carrito <span class="badge badge-pill badge-danger">{{data.productosEnCarrito.length}}</span><!-- Aca podria tener uan variable en JS para obtener la cantidad de porductos en el carrito-->
            </button> <!-- glyphicon glyphicon-shopping-cart -->





        </div>
      </li>
    </ul>

  </div>
</nav>
