<p>header works!</p>
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">
    <img src="/assets/img/ShopLogo.png" width="30" height="30" alt="">Comprando En Casa
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto ">

      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="/producto-create">Crear Producto</a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
         Acciones
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li>
    </ul>

    <form class="form-inline  col-lg-7 ">
      <div class="input-group active-green-4">
        <input class="form-control" type="text" [(ngModel)]="consulta" [ngModelOptions]="{standalone: true}" placeholder="Buscar Producto" aria-label="Search">
        <div class="input-group-append">
          <a routerLink="/home" >
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="callProductosByConsulting()" type="submit"><i class="fa fa-search"></i>
            </button>
          </a>

        </div>
      </div>
      <!--<input class="form-control mr-sm-2" type="search" placeholder="Buscar Producto" aria-label="Search">-->
    </form>

    <ul class="navbar-nav ml-auto ">

      <li class="nav-item">
        <button type="button" class="btn btn-outline-success" data-toggle="dropdown">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i> Carrito <span class="badge badge-pill badge-danger">3</span><!-- Aca podria tener uan variable en JS para obtener la cantidad de porductos en el carrito-->
        </button> <!-- glyphicon glyphicon-shopping-cart -->
      </li>

    </ul>

  </div>
</nav>
