<div class="container " style="margin-top: 140px;">
  <!--Card image-->
  <div class="card card-cascade narrower">

    <div class="py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

      <div>
        <button type="button" class=" btn btn-light">
          <i class="fa fa-th-large mt-0"></i>
        </button>
        <button type ="button" class=" btn btn-light">
          <i class="fa fa-columns mt-0"></i>
        </button>
      </div>
      <h1 class="white-text mx-3" i18n="producto | productos cargados @@prodCarProdCar">Productos Cargados</h1>

      <div>
        <button type="button" class=" btn btn-light" routerLink="home">
          <small i18n="seguir | seguir comprando @@prodCarSeguir">Seguir Comprando</small><i class="fa fa-angle-double-left"></i>
        </button>

      </div>

    </div>


    <div class="table-responsive">
      <table class="table  table-hover">
        <thead class="thead-dark">
        <tr>
          <th></th>
          <th i18n="nombre | nombre @@prodCarNombre">Nombre</th>
          <th i18n="marca | marca @@prodCarMarca">Marca</th>
          <th i18n="precio | nombre @@prodCarPrecio">precio</th>
          <th i18n="cantidad | cantidad @@prodCarCantidad">cantidad</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let producto of data.userData.productos">

          <td>  <img src={{producto.imagen}} class="rounded" style="height: 80px;" ></td>
          <td> {{ producto.nombreProducto }} </td>
          <td> {{ producto.marca }}  </td>
          <td> {{ producto.precio }} </td>
          <td> {{ producto.cantidadAComprar }} </td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <!--<button type="button" class=" btn btn-danger" (click)="DeletectProductFromUserComerciante(producto)"> -->
              <button type="button" class=" btn btn-danger" >
                <i class="fa fa-ban"></i>
              </button>
              <!--<button type="button" class=" btn btn-success" (click)="ModificarProductFromUserComerciante(producto)">-->
              <button type="button" class=" btn btn-success">
                <i class="fa fa-check"></i>
              </button>
            </div>

            <!--<button class="btn btn-primary" (click)="DeletectProductFromCarrito(producto)"> <i class="glyphicon glyphicon-remove mr-2 " aria-hidden="true"></i></button>-->
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
