/*#bg {
  position: center;
  width: 0%;
  height: 0%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}*/

body{
  background: url("https://s1.1zoom.me/big3/497/394307-svetik.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  background-attachment: fixed;
     background-position: center top;

}
hr{
background: white;
 }
.contact-form{
			background:rgba(0,0,0, .6);
			color:white;
			margin-top: 100px;
			padding: 20px;
			box-shadow: 0px 0px 10px 5px grey;
		}
/* The Modal (background) */
.modal-title {
  color: black; /* Fallback color */
}


.modal-body{
  color: black;
}
