<div class="container" style="margin-top: 70px;">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let producto of productos">

      <td>{{ producto.id }}</td>
      <td> {{ producto.name }}</td>
      <td> {{ producto.email }}</td>
      <td>
        <button class="btn btn-primary" (click)="selectContact(producto)"> Show details</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="card text-center" *ngIf="selectedproducto">
    <div class="card-header">
      # {{selectedproducto.id}}
    </div>
    <div class="card-block">
      <h4 class="card-title">{{selectedproducto.name}}</h4>
      <p class="card-text">
        {{selectedproducto.description}}
      </p>
    </div>

  </div>
</div>
