
  <div class="container  p-destacados" style="margin-top: 40px;">
    <div class="row">
      <div class="col-md-3 mt-4" *ngFor="let producto of data.products">
        <div class="card text-center border-dark " >
          <div class="card-header">
            <img src={{producto.imagen}} class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{producto.nombreProducto}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{producto.marca}}</h6>
            <h1><span class="badge badge-secondary">${{producto.precio}}</span></h1>

          </div>
          <div class="card-footer text-muted">
            <a routerLink="carrito">
              <button class="btn btn-primary" (click)="agregarProducto(producto)" i18n="agregar | agregar al carrito @@homeAgregar"> Agregar Al Carrito</button>
            </a>

          </div>
        </div>
      </div>
    </div>
</div>
<app-header></app-header>
