<app-header></app-header>
<body>
<div class="container  p-destacados" style="margin-top: 70px;">
  <div class="row">
    <div class="col-md-3 mt-4" *ngFor="let producto of data.products">
      <div class="card text-center border-dark " style="box-shadow: 0px 0px 9px 4px grey;">
        <div class="card-header">
          <img src={{producto.imagen}} class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{producto.nombreProducto}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{producto.marca}}</h6>
          <h1><span class="badge badge-secondary">${{producto.precio}}</span></h1>

        </div>
        <div class="card-footer text-muted">
          <a routerLink="carrito">
            <!--<button class="btn btn-primary" (click)="agregarProducto(producto)" i18n="agregar | agregar al carrito @@homeAgregar"> Agregar Al Carrito</button>
            -->
            <button class="btn btn-primary" [translate]="'home.agregar'" (click)="agregarProducto(producto)" ></button>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>
</body>

