<app-header></app-header>
<body>
  <div class="container product-form " style="margin-top: 100px;">
    <div class="row">
      <div class="col-10">
        <h1 >Crear Producto</h1>
      </div>
      <div class="col">
        <button type="button" class="btn btn-outline-light" (click)="volverAlHome()">
          <small >Volver al Home</small><i class="fa fa-angle-double-left"></i>
        </button>
      </div>
    </div>
    <hr>

    <div class="row">

      <div class="main-form" >
        <form [formGroup]="productoForm" (ngSubmit)="onSaveForm()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label >{{ 'productos.nombre' | translate }}</label>
              <input  type="text"  class="form-control"  formControlName="nombreProducto"  placeholder="{{ 'productos.nombre_placeholder' | translate }}">

              <div class=" alert-danger" *ngIf="nombreProducto.invalid && (nombreProducto.dirty || nombreProducto.touched)">
                <div class="container-error-message"  *ngIf="nombreProducto.errors.required">
                  <small>El nombre del producto es obligatorio.</small>
                </div>
                <div class="container-error-message"  *ngIf="nombreProducto.errors.minlength">
                  <small> El nombre del producto tiene que ser mayor a 2 caracteres.</small>
                </div>
              </div>


            </div>


            <div class="form-group col-md-6">
              <!--
              <label for="marca" i18n="marca | marca @@productoMarca">Marca</label>
              -->
              <label>{{ 'productos.marca' | translate }}</label>
              <input type="text"  class="form-control" formControlName="marca"
                     placeholder="{{ 'productos.marca_placeholder' | translate }}">

              <div class=" alert-danger" *ngIf="marca.invalid && (marca.dirty || marca.touched)">
                <div class="container-error-message"  *ngIf="marca.errors.required">
                  <small>La marca del producto es obligatoria.</small>
                </div>
                <div class="container-error-message"  *ngIf="marca.errors.minlength">
                  <small> La marca del producto tiene que ser mayor a 2 caracteres.</small>
                </div>
              </div>

            </div>
          </div>

          <div class="form-row" >

            <div class="form-group col-md-3">
              <label >{{ 'productos.stock' | translate }}</label>
              <input type="number"  class="form-control"  formControlName="stock">
              <div class=" alert-danger" *ngIf="stock.invalid && (stock.dirty || stock.touched)">
                <div class="container-error-message"  *ngIf="stock.errors.required">
                  <small>Es necesario colocar un Stock.</small>
                </div>
              </div>

            </div>

            <div class="form-group col-md-6">
              <label>{{ 'productos.precio' | translate }}</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend3">$</span>
                </div>

                <input  type="number"  class="form-control" formControlName="precio" >

              </div>
              <div class=" alert-danger" *ngIf="precio.invalid && (precio.dirty || precio.touched)">
                <div class="container-error-message"  *ngIf="precio.errors.required">
                  <small>Es necesario colocar un Stock.</small>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label  >{{ 'productos.imagen' | translate }}</label>
              <input type="text"  class="form-control"  formControlName="imagen"
                     placeholder="{{ 'productos.imagen_placeholder' | translate }}">
              <div class=" alert-danger" *ngIf="imagen.invalid && (imagen.dirty || imagen.touched)">
                <div class="container-error-message"  *ngIf="imagen.errors.required">
                  <small>La Imagen del producto es obligatoria.</small>
                </div>
                <div class="container-error-message"  *ngIf="imagen.errors.minlength">
                  <small> La Imagen del producto tiene que ser mayor a 5 caracteres.</small>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label >{{ 'productos.categoria' | translate }}</label>
              <input  type="text"  class="form-control"  formControlName="categoria"
                     placeholder="{{ 'productos.categoria_placeholder' | translate }}">

              <div class=" alert-danger" *ngIf="categoria.invalid && (categoria.dirty || categoria.touched)">
                <div class="container-error-message"  *ngIf="categoria.errors.required">
                  <small>La categoria del producto es obligatoria.</small>
                </div>
                <div class="container-error-message"  *ngIf="categoria.errors.minlength">
                  <small> La categoria tiene que ser mayor a 2 caracteres.</small>
                </div>
              </div>

            </div>
          </div>

          <small>importar productos</small>
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="onFileChange($event)"
                     aria-describedby="inputGroupFileAddon01">
              <label class="custom-file-label" for="inputGroupFile01">Elegir Archivo</label>
            </div>
          </div>

          <br>
          <br>
          <button type="submit" class="btn btn-outline-success" [translate]="'productos.crear'" [disabled]="!productoForm.valid"></button>
        </form>

        <br>
        <div class="alert alert-success alert-dismissible fade show" role="alert" [hidden]="!alert" >
          <strong i18n="success | exito @@productoExito">{{ 'perfil.exito' | translate }}</strong> {{ 'productos.creado' | translate }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</body>

